[Unit]
Description=Chat App API
After=syslog.target network.target auditd.service

[Service]
ExecStart=/opt/app/chat-app-api
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target