# ##################################
# MySQLサーバーの設定
# ##################################
[mysqld]

# 文字コード/照合順序
character-set-server=utf8mb4
collation-server=utf8mb4_bin

# タイムゾーン
default-time-zone=SYSTEM
log_timestamps=SYSTEM

# デフォルト認証プラグイン
default-authentication-plugin=caching_sha2_password

# エラーログ
log-error=/var/log/mysql/mysql-error.log

# スロークエリログ
slow_query_log=1
long_query_time=1.0
log_queries_not_using_indexes=1
slow_query_log_file=/var/log/mysql/mysql-slow.log

# 実行ログ
general_log=1
general_log_file=/var/log/mysql/mysql-query.log

# スレッドキャッシュ保持最大数
thread_cache_size=4

# テーブル個別にデータ領域を管理
innodb_file_per_table=1

# InnoDBの以下の3パラメータをサーバーのメモリサイズから自動的に決定する 
# innodb_buffer_pool_size: InnoDBのデータとインデックスをキャッシュするバッファのサイズ
# innodb_log_file_size: InnoDBの更新ログ（commit待ちのログ）を記録するディスク上のファイルのサイズ
# innodb_flush_method: データファイル、ログファイルの読み書き方式
innodb_dedicated_server=1

# ログファイルに書き込む際に使用されるバッファのサイズ
# コミットされていないトランザクションのログをディスクに書き込むことなく利用できるサイズ
innodb_log_buffer_size=16M

# インデックスを使用しないため完全テーブルスキャンを実行する結合時のバッファー最小サイズ
join_buffer_size=256K

# フルスキャンのスレッドバッファ
read_buffer_size=128K
# ソート時のスレッドバッファ
sort_buffer_size=256K
# インデックスを使用したソート時のスレッドバッファ
read_rnd_buffer_size=256K

# MEMORY テーブルの最大サイズ
max_heap_table_size=16M
# スレッド毎に作成される一時テーブルの最大サイズ
tmp_table_size=16M

# mysqldサーバーに送信できるパケットの最大サイズ
max_allowed_packet=64M

# 非インタラクティブなコネクションのタイムアウト時間（秒）
wait_timeout=31536000

# ##################################
# mysqlオプションの設定
# ##################################
[mysql]

# 文字コード
default-character-set=utf8mb4

# ##################################
# mysqlクライアントツールの設定
# ##################################
[client]

# 文字コード
default-character-set=utf8mb4